@import url("https://fonts.cdnfonts.com/css/california-paradise");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 3vh;
  background-color: rgb(255, 255, 255);
}
main {
  display: inline-block;
  padding: 1vh;
  border-radius: 7px;
  margin: 0 auto;
}
a {
  color: #3838d2;
}
a:hover {
  color: #1a1a7f;
}

#logo {
  font-family: "California Paradise", sans-serif;
  font-size: 2.4rem;
  font-weight: 500;
  margin-bottom: -0.7vh;
  position: relative;

  letter-spacing: 0px;
  left: -1px;
}

#next-button {
  width: 25%;
}

/** Kaffe menyn **/
#product-list-content {
  display: flex;
  flex-direction: row;
}

#product-list-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5vh;
  padding: 3vh 0vh;
}
.product-item-container {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 0.5vh;
  border: 1px solid rgba(0, 0, 0, 0.437);
  padding: 2.5vh;
  border-radius: 5px;
}

#product-info-upper-row {
  display: flex;
  flex-direction: row;
}
.product-item-container h2 {
  padding-bottom: 1vh;
  font-size: 1.2rem;
  position: relative;
  left: -0.1vw;
}

#product-info-lower-row {
  display: flex;
  flex-direction: column;
}
.product-info-desc {
  font-size: 0.9rem;
}

.product-info-price {
  position: relative;
  font-size: 1rem;
  font-weight: 600;
  text-align: right;
}
.product-info-order-button {
  width: auto;
  position: relative;
  top: 1vh;
  left: 0.3vw;
  margin-left: 1.5vw;
  padding: 0.3vw 1.2vw;
}

/** Inloggningsformulär **/
form {
  border-radius: 6px;
  padding: 4vh;
  display: flex;
  flex-direction: column;
  gap: 1.2vh;
  line-height: 2.1vh;
}

.form-rows {
  display: flex;
  flex-direction: row;
  gap: 1vh;
}

.form-field {
  background-color: #f7faff;
  border: none;
  border: 1px solid rgba(0, 0, 0, 0.831);
  padding: 0.4vh;
  width: 45%;
  letter-spacing: 0.2px;
}

#form-bottom-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#obs-information {
  position: relative;
  top: 5vh;
  right: 2vw;
  font-size: 0.85rem;
  letter-spacing: 0.2px;
  line-height: 2.1vh;
  width: 60%;
}

#form-button {
  width: 30%;
  position: relative;
  left: 4vw;
  top: 5vh;
  background-color: rgb(108, 108, 252);
  color: white;
  font-size: 0.9rem;
  font-weight: 500;
  padding: 0.5vh;
}

button {
  border-radius: 4px;
  width: 30%;
  margin-top: 3vh;
  position: relative;

  background-color: rgb(108, 108, 252);

  color: white;
  font-size: 0.9rem;
  font-weight: 500;
  padding: 0.5vh;
}

button:hover {
  cursor: pointer;
  background-color: rgb(98, 98, 239);
  color: rgb(238, 238, 238);
}

#created-user-info-container {
  display: none;
}

#order-information {
  height: auto;
  margin-right: 5vw;
}
#confirm-button {
  position: relative;
  top: 0vh;
  width: 50%;
}

#what-has-happened {
  font-size: 1.1rem;
  cursor: pointer;
  color: #3838d2;
  text-decoration: underline;
}
#what-has-happened:hover {
  color: #2525ab;
}

#confirmation-page-explanation {
  display: none;
}

.product-info-order-button {
  background-color: rgb(53, 53, 53);
  color: white;
}
.product-info-order-button:hover {
  background-color: rgb(39, 39, 39);
}

.remove-btn {
  background-color: rgb(230, 60, 82);
}
.remove-btn:hover {
  background-color: rgb(223, 56, 78);
}
